<div class="header-section">
  <div class="menu-right">
    <div class="user-panel-top">
     <div class="col-md-12">
       <div class="col-md-1 col-xs-1"><a class="toggle-btn  menu-collapsed"><!--<i class="fa fa-bars"></i>--></a></div>
       <div class="col-md-3 col-xs-10">
        <div class="profile_details_left">
         <% if current_user.entrepreneur? %>
         <ul class="nofitications-dropdown">
          <li class="login_box" id="loginContainer">
            <form id="searchform" action="/user/ideas">
              <div class="fieldcontainer">
                <input type="text" class="search-keywords" placeholder="Type keywords" name="q" value="<%= params[:q] %>" />
                <input type="submit" value="" id="searchbtn" name="searchbtn">
              </div>

            </form>

          </li>

        </ul>
        <% end %>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="col-md-7 col-xs-12 right-menu">
      <div class="profile_details">
        <ul>
          <li class="dropdown profile_details_drop">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <div class="profile_img">
                <center ><span class="prof-img"> </span>
                  <div class="user"><div class="user-name">
                    <p><%= current_user.fullname %></p>
                  </div>
                  <i class="lnr lnr-chevron-down"></i>
                  <i class="lnr lnr-chevron-up"></i>
                </div>
                <div class="clearfix"></div>
              </div>
            </a>
            <ul class="dropdown-menu drp-mnu">
              <li>
                <%= link_to my_acount_path do  %>
                  <%= image_tag('myaccount.png') %> My Account
                <% end %>
              <li>
                <%= link_to edit_user_registration_path do %>
                <%= image_tag('updateProfile.png') %>Update Profile
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path do %>
                <%= image_tag('Logout-Icons.png') %>Logout
                <% end %>
              </li>
            </ul>
          </li>

          <li>
            <center>
              <div class="notifications-icon"><center><span class="badge11"></span></center></div>
              <div >Notifications</div>
              <ul class="dropdown-menu drp-notification">
                <!--<li class="sub-notification">
                  <div class="sub-notification-left">
                     <%= image_tag('thumbs-img4.jpg') %>
                  </div>
                  <div class="sub-notification-middle">
                    <a>Notifi</a>
                    <b>when people like</b>
                    <br/>
                    <i class="fa fa-commenting-o"></i> <i class="minutes">48 minutes ago</i>
                  </div>
                  <div class="sub-notification-right">
                     <%= image_tag('thumbs-img4.jpg') %>
                  </div>
                </li>-->
                <li class="no-notification">
                  <i>You have 0 notifications</i>
                </li>
                <li class="see-all-notification">
                  <a>See All</a>
                </li>
              </ul>
            </center>
          </li>

          <li><center>
            <div class="msg-icon"><center><span class="badge11"></span></center></div>
            <div >Messages</div></center>
          </li>

              <div class="clearfix"> </div>
            </ul>
          </div>  </div>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>

  </div>