<div id="page-wrapper">
  <div class="switches">
    <div class="col-4">
      <div class="col-md-12 p0">
        <div class="col-md-4 p0"></div>
        <div class="col-md-4 mb30 p0">
        <div class="col-md-12 p0">
          <div class="personal-details personal-update">
            <div class="tab-content">
              <div class="tab-pane active" id="horizontal-form">
                <div class="header text-center"></div>
                <div class="content">
                  <div class="col-md-12 col-xs-12">
                    <h3 class="c-font-17 mob-center text-left form-tile"  style="line-height:2;">UPDATE PASSWORD</h3>
                    <hr>
                    <div class="form-content">
                      <%= simple_form_for(@user, url: user_update_password_path, html: { method: :post, class: 'update-pwd-form', id: 'update-pwd-form' }) do |f| %>
                        <% if devise_error_messages! != '' %>
                          <div class="alert alert-danger">
                            <%= devise_error_messages! %>
                          </div>
                        <% end %>
                        <%= f.hidden_field :reset_password_token %>
                        <div class="form-group">
                          <%= f.label :current_password %> <i>(Your current password to confirm your changes)</i><br />
                          <%= f.password_field :current_password, class: 'form-control', placeholder: 'Current password' %>
                        </div>
                        <div class="form-group">
                          <%= f.label :password, "New Password" %><br />
                          <%= f.password_field :password, :autocomplete => "off", class: 'form-control', placeholder: 'New password'  %>
                        </div>
                        <div class="form-group">
                          <%= f.label :password_confirmation, "New Password Confirmation" %><br />
                          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'New password confirmation' %>
                        </div>
                        <div class="footer">
                          <button type="submit" class="primary-btn btn-next">Update</button>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
