<% comment ||= @comment %>
<% from_time = Time.now %>
<div class="col-md-12">
  <div class="col-sm-1 col-xs-2 pl0 children-comment">
    <%= image_tag comment.user.avatar, width: 39, height: 37 %>
  </div>
  <div class="col-sm-10 mb15 col-xs-10">
    <div style="border-bottom:1px solid #ccc;">
      <p class="c-font-18 mb5">
        <span9><%= comment.user.fullname %></span9>
      </p>
      <div id="comment-container-<%= comment.id %>" class="comment-container"><%= comment.message %></div>
      <div class="edit-comment-hover"><a onclick="_editComment(<%= comment.id %>);" href="javascript:void(0);" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a></div>
      <div id="comment-id-<%= comment.id %>" class="edit-comment-form">
        <%= form_tag '#', remote: true do %>
          <%= text_area_tag 'message', comment.message, class: 'col-sm-12 form-control edit-comment-area', placeholder: "Write a comment", id: "edit_comment_#{comment.id}", "data-id" => "#{comment.id}" %>
        <% end %>
        <div class="clearfix"></div>
        <b>Press Esc to <i>cancel</i>.</b>
      </div>
      <p>
        <span style="color:#78C2E9;cursor:pointer;" onclick="$('#form_reply_<%= comment.id %>').toggleClass('d_none')">Reply </span>
        <span><%= distance_of_time_in_words(comment.created_at, from_time) %> ago
        </span>
      </p>
      <div class="clearfix"></div>
    </div>
    <div id="reply_<%= comment.id %>">
      <% comment.comments.order('created_at DESC').each do |reply| %>
      <div class="col-md-12 mt20 plr0" style="border-bottom:1px solid #ccc;">
        <div class="col-sm-1 col-xs-2 pl0">
          <%= image_tag reply.user.avatar, width: 39, height: 37 %>
        </div>
        <div class="col-sm-11 col-xs-10 pr0">
          <div class="form-group">

          <div id="comment-container-<%= reply.id %>" class="comment-container"><%= reply.message %></div>
            <div class="edit-reply-hover"><a onclick="_editComment(<%= reply.id %>);" href="javascript:void(0);" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a></div>
            <div id="comment-id-<%= reply.id %>" class="edit-comment-form">
              <%= form_tag '#', remote: true do %>
                <%= text_area_tag 'message', reply.message, class: 'col-sm-12 form-control edit-comment-area', placeholder: "Write a comment", id: "edit_comment_#{reply.id}", "data-id" => "#{reply.id}" %>
              <% end %>
              <div class="clearfix"></div>
              <b>Press Esc to <i>cancel</i>.</b>
            </div>
            <p>
              <span style="color:#78C2E9;cursor:pointer;" onclick="$('#form_reply_<%= comment.id %>').toggleClass('d_none')">Reply </span>
              <span><%= comment.created_at.strftime('%d-%m-%Y') %>
              </span>
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="col-md-12 mt20 plr0 d_none" id="form_reply_<%= comment.id %>">
      <div class="col-sm-11 col-xs-10 pr0">
        <div class="form-group">
          <%= form_tag '#', remote: true do %>
          <%= text_area_tag 'message', '', class: 'col-sm-12', placeholder: "Write a comment", id: "message_#{comment.id}" %>
          <%= button_tag "Reply", type: 'button', class: 'btn btn-default pull-right', onclick: "replyCommentIdea(#{comment.id})" %>
          <% end %>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>