<script>
  $(function() {
    $('.country, .category').combobox({
      valueField:'this.state.',
      textField:'text',
      change:function(){
        window.location = '?country=' + $('.country').val() + '&c=' + $('.category').val();
      }
    });
  })
</script>
<div id="page-wrapper">

  <div class="switches">
    <div class="col-4">

      <div class="col-md-9 p0">
        <div class="col-md-6 col-xs-12">  <h3 class="c-font-17" style="line-height:2;">DASHBOARD</h3></div>
        <div class="col-md-3 col-xs-12 p0">
          <form id="searchform2">
            <div class="fieldcontainers">
              <div id="dd" class="wrapper-dropdown-3 easyui-combobox" tabindex="1">
                <select class="country" >
                  <option value=""></option>
                  <%= options_for_select(CS.countries.collect {|k,v| [ v, k ] }, selected: params[:country]) %>
                </select>

              </div>

            </div>
          </form></div>

          <!-- SIXTH EXAMPLE -->
          <div class="col-md-3 col-xs-12 p0">
            <form id="searchform2">
              <div class="fieldcontainers">
                <div id="dd" class="wrapper-dropdown-3" tabindex="1">

                  <select class="category" >
                    <option value=""></option>
                    <%= options_for_select(Category.all.collect {|p| [ p.name, p.id ] }, selected: params[:c]) %>
                  </select>
                </div>

                <!-- <input type="submit" value="" id="icon-search" name="searchbtn">  --></div>
              </form>
            </div>
            <div class="clear"></div>


            <% @ideas.each do |idea| %>
            <div class="col-md-6 mb30 ">

              <div class="switch-right-grid ">
                <div class="switch-right-grid1">
                  <div class="col-md-12 activity-rows">

                    <div class="col-xs-3">
                      <%= image_tag asset_path(idea.user.avatar), class: 'img-responsive img-circle' %>
                    </div>
                    <div class="col-xs-9 activity-desc pl0">
                      <h5>
                        <%= link_to idea.user.fullname, "#" %>
                      </h5>
                      <p><%= idea.category.name %></p>
                    </div>
                    <div class="clearfix"></div>

                  </div>
                  <div class="col-md-12 bg-white p0">
                    <p class="col-md-6 text-left">
                      <%= image_tag asset_path('location-icon-grey.png'), style: 'vertical-align:top;' %>
                      <%= idea.user.location %></p><p class="col-md-6 text-right">
                      <%= image_tag asset_path('submitdate-icon.png'), style: 'vertical-align:top;' %>
                      <%= idea.created_at.strftime('%B %d, %Y') %></p>
                    </div>
                    <div class="col-md-12 switch-right-grid-desc">
                      <h3><%= idea.title.truncate(50) %></h3>
                      <p> <%= idea.description.truncate(250) %></p>
                      <p>
                        <%= link_to 'Read More', user_idea_path(idea), class: 'readmore' %>
                      </p>
                    </div>
                    <div class="col-md-12 comment">
                      <div class="col-md-7 col-xs-12 p-left">
                        <div class="col-md-4 col-xs-3"><center>
                          <%= image_tag asset_path('Views-Icon-small.png') %>
                          <br />
                          <span><%= idea.views %></span>
                        </center>
                      </div>
                      <div class="col-md-4 col-xs-4"><center>
                        <%= image_tag asset_path('Like-icons-small.png') %>
                        <br />
                        <span><%= idea.likes.count %></span>
                      </center>
                    </div>
                    <div class="col-md-4 col-xs-3"><center>
                      <%= image_tag asset_path('comments-icons-small.png') %>
                      <br />
                      <span><%= idea.comments.count %></span>
                    </center>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="col-md-5 ">
                  <div class="disabled-rating"></div>
                  <%= rating_for idea, "visual_effects", stars: 10, enable_half: true, path: 'star_on', class: 'rating' %>
                  <div class="clear"></div>
                </div>


              </div>

            </div>

          </div>

        </div>

        <% end %>
        <div class="col-md-12 idea-paginate">
          <%= paginate @ideas, :theme => 'twitter-bootstrap' %>
        </div>

      </div>
      <%= render 'closed_ideas' %>
      <div class="clearfix"></div>
    </div>
  </div>

</div>
<script type="text/javascript">
  $(document).ready(function () {
    $('.state').next().find('input').attr('placeholder', 'Select A State');
  });
</script>
